body
{
    background-color: aquamarine;
}
.parastyle
{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: darkblue;
    text-align: justify;
}
img
{
    border: 15px solid rgb(3, 22, 57);
}